.about {
    position: relative;
    margin: 0 auto;
    max-width: 1000px;
    padding-left: 3em;
}

.about__img {
    box-shadow: var(--bs);
    width: 300px;
    margin: 0 auto;
}

.about .social {
    color: var(--clr-dark);
    padding-left: 0.5em;
    font-size: 1.5em;
}

.about .social:hover {
    color: var(--clr-accent);
}

.tech-stack {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media (min-width: 800px) {
    .about {
        display: grid;
        column-gap: 2em;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
        grid-template-columns: 1fr 300px;
    }

    .about__img {
        grid-area: img;
        position: relative;
        z-index: 2;
    }

    .section__subtitle--about {
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        text-align: left;
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }
}