.about {
    position: relative;
    margin: 0 auto;
    max-width: 1000px;
}

.about__img {
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .about {
        display: grid;
        column-gap: 2em;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
        grid-template-columns: 1fr 300px;
    }

    .about__img {
        grid-area: img;
        position: relative;
        z-index: 2;
    }

    .section__subtitle--about {
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        text-align: left;
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }
}