@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;700&family=Roboto:wght@100;300&display=swap');

.all {
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(35,8,136,1) 0%, rgba(101,1,132,1) 100%);
    min-width: 100vw;
    min-height: 100vh;
    color: #fff;
    font-family: "Montserrat", sans-serif;
}

a {
    color: #fff;
    font-size: 2em;
}

ul {
    padding: 0;
}
