.section__subtitle--experience {
    text-align: right;
    border-bottom: 5px solid var(--clr-accent);
    color: var(--clr-accent);
}

.experience {
    margin: 0 auto;
    width: 90%;
    padding: 1em 2em;
}