.section__subtitle--experience {
    text-align: right;
    border-bottom: 5px solid var(--clr-accent);
    color: var(--clr-accent);
    margin-bottom: 1em;
    margin-top: 1em;
}

.experience {
    margin: 0 auto;
    width: 90%;
}