.home {
    position: relative;
}

.home__img {
    box-shadow: var(--bs);
}

.home a {
    padding-left: 1em;
}

@media (min-width: 600px) {
    .home {
        display: grid;
        column-gap: 1em;
        width: min-content;
        margin: 0 auto;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }
    
    .home__img {
        grid-area: img;
        min-width: 300px;
        position: relative;
        z-index: 2;
    }

    .section__subtitle--home {
        align-self: self-start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}