/* .navBar {
    width: 100vw;
    background-color: #fff;
    padding-bottom: 0.5em;
}

.menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.link {
    color: rgba(35,8,136,1);
    font-size: 2em;
    font-weight: 400;
    text-decoration: none;
    margin-right: 0.5em;
    margin-left: 1em;
}

.link:visited {
    color: rgba(35,8,136,1);
}

.link:hover {
    border-bottom: rgba(35,8,136,1) 5px solid;
} */