.project__item h3 {
    color: var(--clr-accent);
}

.project__item img {
    width: 250px;
    height: 250px;
}

.project__item--description .social {
    padding-right: 0.78em;
    font-size: 1.55em;
}

.project__item--tech {
    border-bottom: 3px solid var(--clr-accent);
    width: fit-content;
}

@media (min-width: 800px) {
    .project__item {
        display: grid;
        grid-template-areas: 
            "title tech"
            "description img";
        grid-template-columns: 1fr 1fr;
    }

    .project__item--img {
        grid-area: img;
        justify-self: end;
        
    }

    .project__item--tech {
        grid-area: tech;
        justify-self: end;
        text-align: right;
        margin-top: 0;
        
    }

    .project__item--description {
        text-align: left;
        grid-area: description;
    }
}