.project__item {
    background: var(--clr-dark);
    color: var(--clr-light);
    margin-top: 1em;
    margin-bottom: 2em;
    padding: 1.5em 1.5em;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 1em;
}

.project__item--tech,
.project__item h3,
.project__item--description .social:hover {
    color: var(--clr-accent);
}

.project__item--description .social {
    padding-right: 0.78em;
    font-size: 1.55em;
    color: var(--clr-light);
}

@media (min-width: 800px) {
    .project__item {
        display: grid;
        grid-template-areas: 
            "title tech"
            "description img";
        grid-template-columns: 1fr 1fr;
    }

    .project__item--img {
        grid-area: img;
        justify-self: end;
        width: 250px;
        height: 250px;
    }

    .project__item--tech {
        grid-area: tech;
        justify-self: end;
        text-align: right;
        margin-top: 0;
        
    }

    .project__item--description {
        text-align: left;
        grid-area: description;
    }
}

@media (max-width: 800px) {
    .project__item--img {
        height: 200px;
        width: 200px;
        margin: 0 auto;
    }
}