.singleProject {
    border-left: #fff solid 5px;
    border-radius: 10px;
    margin-bottom: 3vh;
    margin-top: 4vh;
    padding: 0em 2em 2em 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.singleProject img {
    width: 300px;
    height: 300px;
}

.singleProject h2 {
    font-size: 2.5em;
    margin-top: 0;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 300px;
    max-width: fit-content;
    margin-bottom: 1em;
}

.singleProject p {
    font-size: 1.5em;
}